JWT_SECRET=YOUR_JWT_SECRET_MIN_64_CHARS
SHELL_URL=https://YOUR_DOMAIN
LAZUROS_URL=http://ordeck-lazuros:8003
LAZUROS_TOKEN=YOUR_API_TOKEN_FROM_ORDECK_SETTINGS_API_TOKENS_TAB
LAZUROS_DEFAULT_MODEL=llama3.2
